@model SocialNetwork.PresentationLayer.Models.DialogView

<div class="dialog-main-header">
    <p>
        @Html.ActionLink(Model.Name, "DialogInfo", "User", new { @dialogID = Model.DialogID }, null), @Model.QuantityOfMembers Memeber(s)        
        @Html.ActionLink("Leave", "LeaveFromDialog", "User", new { @dialogID = Model.DialogID }, new { @style = "float: right;" })
        @if (ViewBag.IsMaster != null && ViewBag.IsMaster == true)
        {
            @Html.ActionLink("Add", "Search", "User", null, new { @style = "float: right; margin-right: 12px;" })
        }
    </p>
    <div id="dialog-main-header-horizontalLineUp"></div>
</div>
<div id="dialog-main-content">
    @foreach(var item in Model.Messages.Reverse())
    {
        <div class="dialog-main-content-message">
            <div class="dialog-main-content-message-senderName">@Html.ActionLink(item.SenderName, "UserPage", "User", new { @id = item.SenderID }, null)</div>
            <div style="font-style: italic;">at @item.SendDate</div>
            <div class="dialog-main-content-message-Content">@item.Message</div>
            @foreach(var content in item.ContentsID)
            {
                <div>
                    <a href="/User/GetDialogContent?contentID=@content">
                        <img class="dialog-main-content-message-content-image" src="/User/GetDialogContent?contentID=@content" />
                    </a>
                </div>
            }
        </div>        
    }
</div>

<script type="text/javascript">
    console.log('@ViewBag.IsCanSendMessage');
    if ('@ViewBag.IsCanSendMessage' == 'true') {
        $('#fileInput1').prop('disabled', false);
        $('#dialog-main-tabfield-submit').prop('disabled', false);
        $('#dialog-main-tabfield-text').prop('disabled', false);          
        $('#dialog-main-tabfield-isReadOnly').hide();
    } else if ('@ViewBag.IsCanSendMessage' == 'false') {
        $('#fileInput1').prop('disabled', true);
        $('#dialog-main-tabfield-submit').prop('disabled', true);        
        $('#dialog-main-tabfield-text').prop('disabled', true);          
        $('#dialog-main-tabfield-isReadOnly').show();
    }

    if ($.cookie('lastDialogId') != "none") {
        $('#dialog-main-tabfield').show();
        $('#hiddenDialogIdSender').val($.cookie('lastDialogId'));
    }

    var isCanSend = @ViewBag.IsCanSendMessage;
</script>